*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
body {
 
}
*/

.nav-container {
  display: grid;
 grid-template-columns: 100px 10fr 1fr;
 gap: 40px;
 
}

.main{
  display: grid;
  grid-template-columns:1fr 1fr ;
  column-gap: 30px;

  
}

.mobile-img, .menu{
  display: none;
}

ul {
  list-style: none;
}


.nav-headiner {
  font-size: 15px;
  color: hsl(0, 0%, 8%);
  
}

.auth-list,
.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
 
}


.logo {
  margin:20px 0px 0 30px;
  display: block;
}

.logo-container {
  margin-right: 40px;
}
/*
.nav-list {
  position: relative;
}

.nav-list_item {
  cursor: pointer;
}
*/
.dropdown-container {
  position: absolute;
  width: max-content;
  padding: 5px 10px;
  display: none;
  border-radius: 10px;
  box-shadow: 2px 4px 5px hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
}

.nav-list {
  gap: 18px;
  display: flex;
  align-items: flex-start;
  float: left;
}

.auth-list{
  float: right;
}

.auth-list_item{
  margin:  0 10px 0 0px;
}

.auth-list_item:first-child{
  margin-top:5px;
}

.icon{
  margin-right: 15px;
}

.dropdown-container:hover {
  display: block;
}


.features:hover + .dropdown-container {
  display: block;
}

.company:hover +.dropdown-container{
  display:block;
}

.feature{
  margin-right: 10px;
}

.dropdown-list {
  cursor: pointer;
  margin-top: 10px;
}

.dropdown-list_item {
  font-size: 17px;
}

.dropdown-list_item:not(:last-child) {
  margin-bottom: 5px;
}

.desktop-img{
  width:400px;
  margin-left: 90px;
}

.desktop{
  max-width:100%;
}

section{
  margin:70px 0 0 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;

}

.section-icons{
  margin-top: 30px;
}
.learn-more {
  width: 110px;
  height: 40px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 5px;

}

.learn-more:hover{
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: white;
  color:black;
}

.register {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 9px;
  margin: 0 0px 0px ;
  background-color: hsl(0, 0%, 98%);
 
}

h1{
  font-weight: 500px;
  font-size: 70px;
  font-family: Epilogue;
  margin-top: 20px;
}
p {
  color: hsl(0, 0%, 41%);
  font-size: 17px;
  font-family: Epilogue;
  line-height: 23px;
  font-weight: 500;
}


/*mobile screen */
@media(max-width:900px){
 
  .desktop{
    display: none;
  }
  

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-img{
    display: block;  
  }

  .mobile{
    max-width: 100%;
  }

   .menu{
    display: block;
    margin: 0px 10px 0 0;
    
  }
  
  .main{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }

  .mobile-nav{
    display: none;
    
  }
  .mobile-nav.active{
   display:flex;
   flex-direction: column;
   height: 100%;
   box-shadow: 0px 0px 500px hsl(0, 33%, 1%);
   width:200px; 
   position: absolute;
   top:0%;
   left:48%;
   background-color: white;
  }

  
  .nav-list{
    display:flex;
    flex-direction:column;
    margin: 60px 0px 0 15px;

       
  }
  .auth-list{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .close-icon{
    width:20px;
    margin-left: 170px;
  }
  


  section{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap:10px;
   
  }
  .logo{
    margin:20px 0;
  }


  .icon{
    width:80px;
    margin: 0px 5px 90px 0;
  }

  h1{
    font-size: 35px;
    font-family: Epilogue;
   
  }
  h1 br{
    display: none;
  }
  
  p {
    color: hsl(0, 0%, 41%);
    font-size: 17px;
    font-family: Epilogue;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
  }

  p br{
    display: none;
  }
  .register{
    margin-top: 10px;
    width: 170px;
    height: 40px;
    border-radius: 12px;
  }
 

}



/*
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 90px 1fr;
}

.main-item:first-of-type {
  grid-row: 1;
  grid-column: 1/4;
}

.main-item:nth-of-type(2) {
  grid-column: 2;
}

/* .main-item:nth-of-type(3){
    grid-column: 3;

  grid-template-areas:
    "navv navv "
    "tex imge"
    "tex imge";
} 

@media (max-width: 1440px) {
  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr;

    grid-template-areas:
      "navv navv "
      "tex imge"
      "tex imge";
  }

  .desk {
    max-width: 100%;
  }

  .desktop {
    width: 500px;
    height: inherit;
  }

  .text {
    margin: 50px 0 0 150px;
    grid-area: tex;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.navb {
  grid-area: navv;
  border: 1px solid green;
}

.desk {
  max-width: 100%;
}

.desktop {
  width: 350px;
  margin: 0px 150px 0px 0px;
}

.text {
  margin: 50px 0 0 170px;
  grid-area: tex;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .left {
  float: left;
  margin: 10px 15px;
} 

.right {
  float: right;
  margin: 10px 19px 10px 0px;
}

a {
  text-decoration: none;
  color: black;
}

#login {
  padding-bottom: 10px;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.options-container {
  background-color: white;
  max-height: 0;
  /* overflow: hidden;
  border-radius: 12px;
  order: 1;
  border: 1px solid red;
}

.select-box .options-container.active {
  max-height: 240px;
}

.select-box .options:hover {
  background-color: hsl(0, 0%, 98%);
}

.select-box .options {
  cursor: pointer;
}

.options {
  padding: 6px 20px;
}

.options-container {
  margin: 10px;
  float: left;
}

.select-box label {
  cursor: pointer;
}
.select-box .options .radio {
  display: none;
}

.todo,
.calen,
.rem,
.plan {
  padding-right: 10px;
}

#register {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 9px;
  margin: 5px 20px 1px 0;
  background-color: hsl(0, 0%, 98%);
}
.selected {
  position: relative;
  order: o;
  cursor: pointer;
}

.selected::after {
  content: "";
  background: url("/img/icon-arrow-down.svg");
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 10px;
  top: 3px;
  margin-left: 4px;

  transition: all 0.4s;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
}

#register:hover {
  border: 1px solid black;
  font-weight: bold;
}

h2 {
  font-weight: 500px;
  font-size: 70px;
  font-family: Epilogue;
  margin-top: 20px;
}

h3 {
  font-family: Epilogue;
  font-size: 13px;
  margin-top: 5px;
}

#learn-more {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-radius: 9px;
  background-color: black;
  color: white;
}

.dicon {
  margin-left: 30px;
  width: 65px;
}

p {
  color: hsl(0, 0%, 41%);
  font-size: 18px;
}

@media (max-width: 375px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    grid-template-areas:
      "navv navv"
      "imge imge"
      "tex tex";
  }

  .mobile {
    content: url("img/image-hero-mobile.png");
  }

  .navb {
    grid-area: navv;
  }

  .text {
    margin: 20px;
    grid-area: tex;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .dicon {
    margin-left: 5px;
  }

  h2 {
    font-size: 30px;
    font-family: Epilogue;
    margin-top: 5px;
  }

  h2 br {
    display: none;
  }
}*/
